* {
  margin: 0;
}
html, body {
  height: 100%;
}
.common-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

#forLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.common-wrapper:after {
  content: "";
  display: block;
}
.common-footer, .common-wrapper:after {
  height: 50px;
}
.common-footer {
/*  background: #C0BFBC;*/
  color: #2592D0;
}

.common-footer #footer {
    line-height: 50px;
}

.common-container {
    padding: 0px 25px !important;
}

.line {
	border-bottom: 1px solid #b1b1b1;
	width: 100%;
	float: left;
	height: 1px;
	display: inline-block;
	margin: -28px 0 0 0;
}

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
	color: #939292;
	background-color: #fff;

	padding-right: 10px;
	z-index: 5;
	position: relative;
	float: left;
}

/** Navigation **/
#commonLayout {
    height: 85px;
    background: white;
}

#commonLayout .navbar-brand {
    height: 85px;
}

#commonLayout #w0 {
    height: 85px;
}

#commonLayout #w0 > li {
    top: 25%;
}

.navbar-default .navbar-brand img {
    width: 180px;
}


/** Login Page **/
#login-wrapper {
    margin: -50px auto 0;
    min-height: 80px;
    width: 300px;
}

.common-wrapper #logo {
    margin: 0 auto;
    width: 280px;
}

.common-wrapper #logo > img {
    width: 280px;
}

#login-wrapper #content {
    min-height: 100px;
    margin-top: 10px;
}


/*** Test Page **/ 
#registerText {
  line-height: 34px;
}
#login-wrapper a:hover {
  text-decoration: none;
}
.content {
  margin-top: 80px;
}
.toLower {
  text-transform: lowercase;
}
label {
  line-height: 34px;
}
